<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messages Board - My members Club</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <div class="wrapper">
        <a href="/">My Members Club</a>
        <nav>
          <a href="/documentation">Review Code</a>
          <a href="/messages">Messages Board</a>
          <% if (isLoggedIn) { %>
          <a href="/dashboard">Dashboard</a>
          <a href="/settings">Settings</a>
          <a href="/log-out">Log Out</a>
          <% } else { %>
          <a href="/log-in">Sign In</a>
          <a href="/sign-up">Sign Up</a>
          <% } %>
        </nav>
      </div>
    </header>
    <div class="msgs-page wrapper">
      <h1>All messages</h1>
      <% if (auth_level > 1) { %>
      <form action="/messages" method="post">
        <input name="message" type="text" required />
        <button type="submit">Add Message</button>
      </form>
      <% } else { %>
      <form action="/dashboard" method="get">
        <p>Only users with level 2 access and above can post messages</p>
        <button type="submit">Get Access</button>
      </form>
      <% } %>
      <section>
        <% if (messages.length < 1) { %>
        <p>no messages yet</p>
        <% } else { %> <% messages.forEach(msg => { %>
        <article>
          <p>@<%= auth_level > 0 ? msg.username : "anon_user" %></p>
          <div>
            <p><%= auth_level > 0 ? msg.first_name : "" %></p>
            <p><%= auth_level > 0 ? msg.last_name : "" %></p>
          </div>
          <p>
            <%= auth_level > 0 ? new
            Date(msg.created_at).toLocaleDateString('en-GB', { year: 'numeric',
            month: 'short', day: 'numeric' }) : "" %>
          </p>
          <p><%= msg.message %></p>
        </article>
        <% }); %> <% } %>
      </section>
    </div>
  </body>
</html>
