<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Welcome to Your settings!</h1>

    <p><%= mistakes %></p>
    <p>Here are your details</p>
    <p>username : @<%= data.username %></p>
    <p>first name : <%= data.first_name %></p>
    <p>last name : <%= data.last_name %></p>
    <p>password : *****</p>
    <p>your auth level : <%= data.auth_level %></p>
    <p>account created on : <%= data.created_at %></p>

    <p>check exclusive access</p>
    <a href="/top-secret">top secret</a>
    <br />
    <a href="/dashboard">Dashboard</a>
    <a href="/log-out">Log Out</a>
  </body>
</html>
